.dashcontent {
  display: flex;
  max-width: 600px;
  margin: auto;
}
.dashboard {
  text-align: center;
}
.goals {
  text-align: left;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 2px#888888;
  padding: 10px;
  width: 300px;
}
